<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      仮のヘッダータイトル
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">problemから退出する</a>
    </div>
  </div>
</div>

<div class="problems">
  <div class="problem-content">
    <div class="upper-content">
      <div class="problem-user">
        Tom
      </div>
      <div class="problem-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-content">
      <div class="problem-title">
        【課題】離れた人との通話
      </div>
      <div class="standpoint">
        【立場】一般ユーザー
      </div>
      <div class="content">
        【詳細】
        離れた人とのコミュニケーションを実現したい。
        家の電話が持ち歩くイメージです。
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="upper-comment">
      <div class="comment-user">
        Leon
      </div>
      <div class="comment-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-comment">
      <div class="comment-content">
        よいですね。私もそのような物があると嬉しいです。
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>